{% extends "base.html" %}

{% block content %}


<nav class="navbar navbar-expand-lg navbar-dark black fixed-top scrolling-navbar">
        <a class="navbar-brand" href="/">GetMeAJob.ai</a>
    </nav>
    

<br/><br/><br/>
<br/><br/><br/
<div class="main-wrapper">
        <div class="container-fluid ">
            <div class="row  justify-content-center align-items-center">
                <div class="card col-lg-4 ">
                    <div class="view text-center">
    
                        <h2 class="h2-responsive mt-2">Reset Password</h2>
                        <hr>
                    </div>
                    <div class="card-body">
                        {% load widget_tweaks %}
                        <form method='POST' action=''>{% csrf_token %}
                        
                            <label for="defaultFormSubscriptionNameEx" class="grey-text">email</label>
                            {% render_field form.email type="email" class="form-control" %}
   
    
                            {% comment %} {{form.as_p}} {% endcomment %}
                            <div class="text-center mt-4">
                                <input type='submit' class="btn btn-blue" value='submit' />
                                <input type="hidden" name="next" value="/jobs/" />
                            </div>
    
                        </form>
                        <a href="/accounts/register">Register</a>
                        <a href="/accounts/login">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}